

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/productos" text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Carrito de Compras
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Productos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card *ngFor="let producto of productos | async">
    <ion-card-header>
      <ion-card-title>{{ producto.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Descripción: {{ producto.descripcion }}</p>
      <p>Precio: {{ producto.precio }}</p>
      <p>SKU: {{ producto.sku }}</p>
      <ion-item>
        <ion-label>Cantidad:</ion-label>
        <ion-input type="number" [(ngModel)]="producto.cantidad"></ion-input>
      </ion-item>
    </ion-card-content>
    <ion-card-content>
      <ion-button (click)="eliminarProductoPorSKU(producto.sku )" color="danger">Eliminar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
